.explorer-main-container {
  display: flex;
  flex-direction: column;
}

.explorer-tools{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.add-file-icon, .add-folder-icon{
    padding: 0.2em;
    width: fit-content;
    cursor: pointer;
}
.add-file-icon:hover, .add-folder-icon:hover{
    /* background-color: brown; */
    border-radius: 4px;
}