.file-section,
.folder-name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 0.5em;
}

.folder-section:hover,.file-section:hover{
  cursor: grab;
}

.node-tools {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-node-section.child {
  padding-left: 0.625em;
}

.folder,
.file {
  display: flex;
  align-items: center;
  gap: 4px;
}

.file-section:hover,
.folder-name-section:hover {
  /* background-color: coral; */
  border-radius: 6px;
}

.folderName,
.fileName {
  all: unset;
  padding: 8px;
}
.folderName:hover,
.fileName:hover {
  border: 1px solid black;
  border-radius: 4px;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
}

.delete-icon svg,
.edit-icon svg {
  width: 12px;
  height: 12px;
}
