.file-section,
.folder-name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 0.5em;
}

.node-tools {
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-node-section.child {
  padding-left: 0.625em;
}

.folder,
.file {
  display: inline;
  cursor: pointer;
}

.file-section:hover,
.folder-name-section:hover {
  background-color: coral;
  border-radius: 6px;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
}

.delete-icon svg,
.edit-icon svg {
  width: 10px;
  height: 10px;
}
